<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h2>The Total number of users are: <span class="count"><%= count %></span></h2>
        <a href="/user" class="btn">SHOW ALL USERS</a>
    </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>THe Total number of user are: <%= count %></h2>
    <button><a href="/user">SHOW ALL USERS</a></button>
</body>
</html> -->